@page "/Projects/{Id:int}"

@using BlazorWasmTest.Models
@inject HttpClient client

<h3>@Project?.Name</h3>
<div class="tags">
    @foreach (var tag in Project?.Tags ?? new String[0])
    {
        <div class="tag">@tag</div>
    }
</div>
<p> @Project?.Description</p>

@code {
    [Parameter]
    public int Id { get; set; }

    public ProjectModel? Project { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var projectModels = await client.GetFromJsonAsync<List<ProjectModel>>("data/ProjectModels.json");

        Project = projectModels?[Id];
    }
}
