@page "/Projects/{Id:int}"

@using BlazorWasmTest.Models
@inject HttpClient client

<div class="content-wrapper ">
    <div class="title-bg ">
        <h3 class="title">@Project?.Name</h3>
    </div>
    <div class="tags">
        @foreach (var tag in Project?.Tags ?? new String[0])
        {
            <div class="tag">@tag</div>
        }
    </div>
    <p class="description">
        @for (int i = 0; i < descriptionWords?.Length; i++)
        {
            string delayMs = $"{i * 40}ms";
            <span class="description-word" style="transition-delay: @delayMs">@descriptionWords[i]</span>
        }
    </p>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    public ProjectModel? Project { get; set; }

    private string[]? descriptionWords;

    protected override async Task OnInitializedAsync()
    {
        var projectModels = await client.GetFromJsonAsync<List<ProjectModel>>("data/ProjectModels.json");

        Project = projectModels?[Id];
        descriptionWords = Project?.Description?.Split(' ') ?? new string[0];
    }
}
