* {
    --borderColor: rgb(3, 169, 244);
}

.content-wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50.75%);
    display: grid;
    width: max-content;
    height: max-content;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 100px 150vh;
    grid-template-areas:
        "title title"
        "desc tags";
    grid-column-gap: 0.5vmin;
    padding: 0.5vmin;
    padding-top: 0;
    background-color: var(--borderColor);
}

.title,
.description,
.tags {
    background-color: hsl(270 47% 9%);
    background-image: radial-gradient( rgba(255, 255, 255, 0.15) 4%, transparent 8% );
    background-position: 0% 0%;
    background-size: 3vmin 3vmin;
}

.title,
.description {
    color: white;
    font-family: "Anek Latin", sans-serif;
    font-weight: 400;
    margin: 0px;
    padding: 2vmin;
}

.title-bg {
    position: sticky;
    top: 1px;
    grid-area: title;
    height: 100%;
    z-index: 1;
    background-color: var(--borderColor);
}

.title {
    height: calc(100% - 1vmin);
    width: 100%;
    font-size: 5.5vmin;
    align-self: center;
    justify-self: stretch;
    text-align: center;
    background-color: hsl(270 47% 9%);
    z-index: 2;
    margin: 0.5vmin 0;
}

.description {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 100%;
    grid-area: desc;
    font-size: 2.5vmin;
    align-self: start;
    justify-self: stretch;
    text-align: center;
    align-content: flex-start;
}

.description-word {
    margin: 0 0.5vmin;
    opacity: 1;
    transition: opacity 100ms ease;
}

.tags {
    position: sticky; top: 20px;
    grid-area: tags;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2vmin;
}

.tag {
    display: flex;
    width: fit-content;
    min-width: 50px;
    min-height: 40px;
    align-items: center;
    text-align: center;
    padding: 10px 15px;
    background: linear-gradient(to right, hsl(270deg 56% 28% / 85%), hsl(209deg 100% 59% / 29%));
    border-radius: 20px;
    margin: 0.5rem;
}

/*For testing the border effect*/
.gradient-bg {
    --bgg1: rgb(98, 0, 234);
    --bgg2: rgb(206, 34, 92);
    animation: background-pan 10s linear infinite;
    background: linear-gradient(to right, var(--bgg1), var(--bgg2), var(--bgg1));
    background-size: 200%;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: 200% center;
    }
}