@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: 200% center;
    }
}

#tiles {
    top: 1px;
    height: calc(100vh - 2px);
    width: calc(100vw - 1px);
    position: fixed;
    background: transparent;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
    position: relative;
}

    .tile:before {
        background-color: hsl(270 47% 9%);
        content: "";
        inset: 1px;
        position: absolute;
        animation: tileAnim 10s linear infinite;
        animation-delay: var(--animDelay);
    }

/*.tile:hover:before {
        z-index: 1;
        inset: 5px;
        transition: inset 50ms ease;
    }*/

@keyframes tileAnim{
    0% {
        inset: 1px;
    }
    10% {
        inset: 5px;
    }
    20% {
        inset: 1px;
    }
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgb(10,10,10);
    height: 100vh;
}

.gradient-bg {
    --bgg1: rgb(98, 0, 234);
    --bgg2: rgb(206, 34, 92);
    animation: background-pan 10s linear infinite;
    background: linear-gradient(to right, var(--bgg1), var(--bgg2), var(--bgg1));
    background-size: 200%;
}

@media (max-width: 500px) {
    .px-4 {
        padding: 0 !important;
    }
}

main {
    top: -1px;
    height: 102vh;
    width: 102vw;
    position: fixed;
    overflow: scroll;
    padding: 0 !important;
}

.sidebar {
    background-color: rgba(0,0,0,0.8)
}

.content {
    position: absolute;
    top: 0.5%;
    left: 0.5%;
    width: 99%;
    margin: 0 !important;
    padding: 0 !important;
    background: transparent;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.dark {
    background-color: rgba(0,0,0,0.4);
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: fit-content;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 1rem !important;
        padding-right: 1.5rem !important;
    }
}

@media (max-width: 900px) {
    .sidebar {
        display: none;
    }
}

